<div class="container mt-10">
<h1>List of all Cocktails</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail%></li>
  <% end %>
</ul>

<br>
<%= link_to 'Create new Cocktail', new_cocktail_path, class: "btn btn-primary" %>
</div>

<%= cl_image_tag("yxvufn0qcvxrb8jq0ags",
      width: 400, height: 300, crop: :fill) %>
